<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    div {
      width: 500px;
      height: 500px;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

    }

    .boomImage {
      background-image: url(boom.svg);
    }
    .flagImage {
      background-image: url(flag.svg);
    }
    .kongColor {
      background-color: #fff;
    }
    
    td{
      border:1px solid yellowgreen;
      width: 15px;
      height: 15px;
      background-color: #EAFF56;
      
    }
  </style>
</head>
<body>
  <div id="app">
    <table v-for="(it, idx) in world.length">
      <td v-for="(item, index ) in world[0].length" 
      @click="clicked" 
      @mousedown.right="clickRight" 
      :class="changeImage"
      @contextmenu.prevent=""
      ></td>
  </div> 

  <script src="vue.js"></script>
  <script>


    var app = new Vue({
      el:'#app',
      
      data: {
        boom: false,
        flag: false,
        kong: false,
        world: Array(15).fill('E').map(it => Array(15).fill('E')),
      },
      
      method: {
        Booms(){
          for(let a = 0;a < 10;a++) {
            let bx = Math.random() * 15 | 0
            let by = Math.random() * 15 | 0
            this.world[bx][by] = 'M'
          }
          
        },

        clicked(e) {
          if(e.value == 'M') {
            this.boom = true
            alert('Oooops')
            return this.world
          }
          var allAry = []
          var ary = []
          var temp = []
          ary.push([e.idx, e.index])
          while(allAry.length) {
            if(e.value == 'E')
              var number = 0
              let len = this.world.length
              
              let [x1,y1] = ary[0]
              let x = [-1, -1, 0, 1, 1, 1, 0, -1]
              let y = [0, 1, 1, 1, 0, -1, -1, -1]
              for(let i = 0;i < 8;i ++) {
                  let cx = x[i] + x1
                  let cy = y[i] + y1
                  if(cx >= 0 && cy >= 0 && cx < len && cy < lens) {
                    if(this.world[cx][cy] == 'E') {
                      this.kong = true
                    }
                    if(allAry.findIndex(it => { return it == [cx,cy] }) == -1 ) {
                            temp.push([cx,cy])
                          }
                      }
                    if (this.world[cx][cy] == 'M'){
                        number++
                    }
                  }  
  
              if(n > 0){
                 this.world[x1][y1] = n + ''
              }else{
                this.kong = true
                ary = ary.concat(temp)
              }   

              allAry.push(ary[0])
              ary.shift()
          }
          
        return this.world  
        
        },

        clickRight() { 
          return this.flag = true
        },
        
        mounted () {
            this.Booms()
          }
      },

      computed: {
        changeImage(){
          return {
            boomImage: this.boom,
            flagImage: this.flag,
            kongColor: this.kong,
          }
        },
      },
      
      
      

      
    }) 
  </script>
</body>
</html>