html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}
* {
  font-size: 12px;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 40px;
  background-color:rgb(51, 51, 51);
}
.main-nav{
  width: 1226px;
  margin: auto;
}

.main-left a{
  color: rgb(176, 176, 176);
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.main-left span {
  margin: 0 .5em;
  color: rgb(66,60,55);
}
.main-left  a:hover {
  color: white;
}

.main-left .im {
  width: 125px;
  height: 150px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 3px rgb(212, 212, 212);
  z-index: 100;
  display: none;
  border: 1px solid;
}
.main-left .im img {
  width: 86px;
  height: 86px;
  margin: 20px 19px 0 19px;
}
.main-left a:hover .im {
  display: block;
} 
.main-left .im span {
  color: #000;
  font-size: 16px;
  position: relative;
  top: -10px;
  left: 10px;
}


.login-nav {
  float: right;
  color: rgb(176, 176, 176);
}
.login-nav  a{
  text-decoration: none;
  margin-left: 5px;
}
.login-nav .car {
  background-color:rgb(255, 103, 0);
  width: 120px;
  height: 40px;
  display: inline-block;
  padding-left:18px;
  position: relative;
  color: white;
}
.car a {
  color: white;
}
.login-nav .car:hover {
  background-color: #fff;
  color: rgb(255, 103, 0);
}
.login-nav .car:hover a {
  color: rgb(255, 103, 0);
}
.login-nav .car:hover .car-outer {
  display: block;
  max-height: 535px;
  transform: translatey(0px) ;
}
.car-outer {
  max-height: 0px;
  width: 315px;
  position: absolute;
  right: 0;
  border:1px solid;
  display: none;
  transition: .6s linear;
  z-index: 500;
  transform: translatey(-10px);
  background-color: #fff;
}
.car-inner {
  height: 535px;
  overflow-y: scroll;
}

.header-wrapper {
  position: relative;
}
header {
  width: 1226px;
  height: 100px;
  margin: auto;
  position: relative;
}
header > img{
  width: 50px;
  height: 50px;
  background-color:rgb(255, 103, 0);
  float: left;
  margin-top: 25px;
}
.header-main {
  display: inline-block;
  width: 770px;
  margin-left: 188px;
  height:100px;
}
.header-main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1226px;
  margin: auto;
}
.header-main > ul > li {
  float: left;
}
.header-main > ul > li > a{
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 40px 10px;
}

.main-list {
  position: absolute;
  width: 100%;
  left: 0;
  top:100px;
  border-top:1px solid  rgb(224, 224, 224);
  box-shadow: 0 3px 4px rgba(0,0,0,0.18);
  height: 0px;
  transition: .6s;
  z-index: 600;
  background-color: #fff;
  box-sizing: border-box;
  opacity: 0;
}

.main-list ul {
  position: relative;
  top: -70px;
  width: 1226px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content:flex-start;
}
.main-list > ul > li {
  width: 160px;
  height: 230px;
}
.main-list img {
  display: block;
}
.main-list .list-one-1 {
  position: relative;
  top: 20px;
}
.main-list .list-one-1 img {
  padding-top: 10px;
}
.main-list .list-one-1 div {
  position: relative;
  top: 10px;
  left: 40px;
}
.main-list .list-one-1 p {
  position: relative;
  left: 50px;
  top: 5px;
}
.link-1 {
  width: 1px;
  height: 150px;
  background-color: #8e9993;
  position: relative;
  top: -10px;
  left: 159px;
}
.main-list .list-one-2 {
  position: relative;
  left: 0px;
  top: -105px;
}
.main-list .list-one-2 a{
  position: relative;
  top: -50px;

}
.header-main ul:hover .main-list {
  width: 100%;
  height: 230px;
  opacity: 1;
}
.header-main ul li:hover .main-list {
  z-index: 700;
}

.header-main div  div {
  display: none;
}
.header-main ul li:hover div div {
  display: block;
}















 .search {
  position: absolute;
  right: 0px;
  top: 23px;
} 
.search input {
  display: inline-block;
  width: 244px;
  height: 52px;
  border: 1px solid rgb(224, 224, 224);
}
.search input:nth-child(2) {
  display: none;
}
.search label {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 52px;
  border: 1px solid rgb(224, 224, 224);
}
.search label:hover {
  background-color:rgb(255, 103, 0);
}

.search label i {
  line-height: 52px;
  padding-left: 15px;
}
.search label:hover i {
  color:white;
}




main {
  width: 1226px;
  height: 450px;
  margin:auto;
}
.main-menu {
  height: 450px;
  width: 230px;
  background-color:rgba(51,51,51,0.5);
  position: absolute;
  z-index: 1;
}
.main-menu ul {
  padding: 0;
}
.main-menu ul li {
  list-style-type: none;
  padding: 10px;
  padding-left: 40px;
  font-size: 16px;
}
.main-menu ul li:hover {
  background-color:rgb(255, 103, 0);
}
.main-menu ul li a {
  text-decoration: none;
  color: aliceblue;
}
.main-menu ul ul {
  position: absolute;
  top: 0px;
  left: 230px;
  background-color: #fff;
  /* width: 970px;
  height: 450px; */
  padding: 0;
}

.main-menu ul ul li {
  display: none;
  width: 232px;
  height: 55px;
  position: relative;
}
.main-menu ul li:hover ul li {
  display: block;
  
}
.main-menu ul li i {
  color:  rgba(255,255,255,0.5);
  position: absolute;
  left: 210px;
}












.main-pic {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-pic img {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: 2s;
}
.main-pic input {
  display: none;
}
.main-pic input:checked + img {
  opacity: 1;
}
.main-pic .la {
  position: absolute;
  bottom: 25px;
  right: 35px;
}
.main-pic .la label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border:2px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  background-color: rgba(0,0,0,0.4);
  margin-left: 10px;
}
.main-pic .la label:hover {
  background-color: rgba(255,255,255,0.4);
  border-color:  rgba(0,0,0,0.4);
}
.la-r {
  height: 70px;
  width: 42px;
  position: absolute;
  right: 0;
}





main .side {
  position: fixed;
  right: 0;
  top: 290px;
  width: 80px;
  z-index: 999999;
}
main .side span {
  display: block;
  height: 90px;
  color: rgb(117,117,117);
  font-size: 14px;
  border: 1px solid;
  text-align: center;
}
main .side i {
  display: block;
  margin-top: 18px;
  padding-bottom: 10px;
}


.part {
  width: 1226px;
  height: 170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.part table {
  width: 235px;
  height: 170px;
  background-color: rgb(95, 87, 80);
  font-size: 16px;
  color:white;
  border-collapse: collapse;
}
.part table td {
  border: 1px solid rgb(120, 94, 87);
  font-size: 12px;
}
.part table td i {
  display: block;
}
.part img {
  display: inline-block;
  width: 315px;
  height: 170px;
}


.rail {
  margin: auto;
  width: 1226px;
  margin-top: 30px;
}
.rail img {
  width: 1226px;
  height: 100px;
}




.product {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(245,245,245);

}
.product .phone {
  width: 1226px;
  height: 690px;
  margin: auto;
  position: relative;
}

.phone-le a img{
  margin-top: 14px;
  float: left;
  width: 235px;
  height: 615px;
  display: block;
}
.phone-hd {
  height: 58px;
  position: relative;
  top: 15px;
  
}
.phone-hd-1 p{
  position: relative;
  font-size: 22px;
  line-height: 58px;
}
.phone-hd-2 p {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.ph1 {
  width: 990px;
  height: 615px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-left: 15px;
  
}
.ph1 div {
  width: 235px;
  height: 300px;
  background-color: #fff;
  border: 1px solid;
}
.ph1 div img {
  width: 160px;
  height: 160px;
  margin: 20px auto;
  display: block;
  
}
.ph1 div p {
  font-size: 13px;
  white-space: nowrap;
  color: #b0b0b0;
}
.ph1 div span {
  display: block;
  text-align: center;
}
.box-ph1 h3 {
  text-align: center;
  font-size: 14px;
  
}
.phone .ph1 div:nth-child(1),div:nth-child(2),div:nth-child(3),div:nth-child(4) {
  margin-bottom: 15px;
}







  
  

.product .rail2 img {
  display: block;
  width: 1226px;
  height: 100px;
  margin: auto;
  margin-top: 40px;
}


.home {
  margin-top: 20px;
  width: 1226px;
  height: 680px;
  margin: auto;
  position: relative;
  top: 20px;
}
.home p {
  font-size: 22px;
}
.home-left {
  width: 235px;
}
.home-left img {
  float: left;
  width: 235px;
  height: 300px;
}
.home-left img:first-child {
  margin-bottom: 15px;
}
.home-r span {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
}
.home-r span:first-child {
  right: 250px;
}
.home-r span:nth-child(2) {
  right: 140px;
}
.home-r span:nth-child(3) {
  right: 70px;
}
.home-r span:nth-child(4) {
  right:0px;
}



.home-r > div {
  width: 990px;
  height: 615px;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  opacity: 0;
  padding-left: 15px;
  position: absolute;
  right: 0;
}
.home-r div div {
  width: 235px;
  height: 300px;
  background-color: #fff;
  
}
.home-r div img {
  width: 160px;
  height: 160px;
  margin: 20px auto;
  display: block;
  
}
.home-r [class*="-bo"] {
  background-color: rgb(245,245,245);
}
.home-r [class*="-bo"] div {
  width: 235px;
  height: 142px;
  background-color: #fff;
}
.home-r [class*="-bo"] div:first-child {
  margin-bottom: 16px;
} 


.home-r .mainr-h {
  opacity: 1;
}
.home-r span:hover:first-child ~ div:first-child {
  opacity: 1;
}
















.product .rail3 img {
  width: 1226px;
  height: 100px;
  margin: auto;
  display: block;
  margin-top: 40px;
}

.product .intell {
  margin-top: 120px;
  margin-left: 130px;
  border: 1px solid;
  width: 1200px;
}
.product .intell {
  width: 220px;
  height: 260px;
}


.product .rail4 img {
  width: 1226px;
  height: 100px;
  margin: auto;
  display: block;
}

.product .match {
  margin-top: 120px;
  margin-left: 130px;
  border: 1px solid;
  width: 1200px;
}
.product .match td {
  width: 220px;
  height: 260px;
}